#btnAdd {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 9px;
    -fx-background-radius: 15;
    -fx-font-weight: normal;
    -fx-cursor: hand;
}

#btnBack {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 9px;
    -fx-background-radius: 15;
    -fx-background-image: url("images/Group13_1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-padding: 5 10 5 25;
    -fx-font-weight: normal;
    -fx-cursor: hand;
}

#btn1 {
    -fx-background-color: transparent;
    -fx-background-image: url("/images/Group 52.png");
    -fx-cursor: hand;
}

#btn2 {
    -fx-background-color: transparent;
    -fx-background-image: url("/images/Group 48.png");
    -fx-cursor: hand;
}

#btn3
    -fx-background-color: transparent;
    -fx-background-image: url("/images/Group 49.png");
    -fx-cursor: hand;
}

#btn4 {
    -fx-background-color: transparent;
    -fx-background-image: url("/images/Group 50.png");
    -fx-cursor: hand;
}

#btn5 {
    -fx-background-color: transparent;
    -fx-background-image: url("/images/Group 51.png");
    -fx-cursor: hand;
}

#btnBack {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 9px;
    -fx-background-radius: 15;
    -fx-background-image: url("/images/Group13_1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-padding: 5 10 5 25;

    -fx-font-weight: regular;
    -fx-cursor: hand;
}

#btnAdd {
    -fx-background-color: transparent;
    -fx-background-image: url("/images/Group 78.png");
    -fx-cursor: hand;
}

#btnClick {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 9px;
    -fx-background-radius: 15;
    -fx-background-image: url("/images/Group13_1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-padding: 5 10 5 25;
    -fx-font-weight: normal;
    -fx-cursor: hand;
}

#bth2Click {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 9px;
    -fx-background-radius: 15;
    -fx-font-weight: normal;
    -fx-cursor: hand;
}
